.panda-bg-pink{
    background-color:#fceae8;
}
.panda-bg-orng{
    background-color: #ffa500;
}
.panda-bg-purpal{
    background-color: #da70d6;
}
.panda-bg-blue{
    background-color: #0000ff;
}
.panda-btn-clr{
    background-color: #ff3183;
    color:white;
}
